.reveal .cropPoly {
  width: 600px;
  overflow:hidden;
  display:inline-block;
  /* background: red; */
  /* height: 500px; */
}

#poly{
  margin-left: -80px;
  max-width: none;
}


.reveal .cropComparison {
  width:200px;
  overflow:hidden;
  display:inline-block;
  /* background: red; */
   /* height: 500px; */
}

#comparison{
  margin-left: -120px;
  max-width: none;
}
